Package: me.nixuge.networkmanager
Name: NetworkManagerReborn Roothide DualSIM
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 1.5.2
Architecture: iphoneos-arm64e
Description: Force 2G/3G/4G/5G connection from Control Center. Single-tap: cycle network modes. Double-tap: switch SIM slots (only when 2 active SIM cards detected). Roothide build with intelligent DualSIM support.
Maintainer: Nixuge, 灰灰
Author: NoisyFlake, Nixuge, 灰灰
Section: Control Center (Modules)
